In [60]:
import pandas as pd
import numpy as np

### Reading an excel file
open file in : C:\Users\charb\Downloads\energy Indicators.xls

In [61]:
energy = pd.read_excel(r'C:\Users\charb\Downloads\energy Indicators.xls','Energy',skiprows=18,skipfooter=38,parse_cols = "C:F")
energy.columns=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']
energy.head()

          Country Energy Supply Energy Supply per Capita  % Renewable
0         Albania           102                       35   100.000000
1         Algeria          1959                       51     0.551010
2  American Samoa           ...                      ...     0.641026
3         Andorra             9                      121    88.695650
4          Angola           642                       27    70.909090

In [62]:
# if you don't use inplace=True the default behavious is that the replace doesn't change the DataFrame
energy.replace('...', np.NaN,inplace=True)
energy.head()

          Country  Energy Supply  Energy Supply per Capita  % Renewable
0         Albania          102.0                      35.0   100.000000
1         Algeria         1959.0                      51.0     0.551010
2  American Samoa            NaN                       NaN     0.641026
3         Andorra            9.0                     121.0    88.695650
4          Angola          642.0                      27.0    70.909090

In [63]:
# convert energy supply to Gigajoule
energy['Energy Supply'] = 1E6 * energy['Energy Supply']
energy.head()

          Country  Energy Supply  Energy Supply per Capita  % Renewable
0         Albania   1.020000e+08                      35.0   100.000000
1         Algeria   1.959000e+09                      51.0     0.551010
2  American Samoa            NaN                       NaN     0.641026
3         Andorra   9.000000e+06                     121.0    88.695650
4          Angola   6.420000e+08                      27.0    70.909090

In [64]:
for word in energy[energy.Country.str.contains("United Kingdom")].Country.str.split():
    print(word)
print(energy[energy.Country.str.contains("United Kingdom")].Country)
print(energy[energy.Country.str.contains("Korea")].Country)
print(energy[energy.Country.str.contains("Hong")].Country)
print(energy[energy.Country.str.contains("United States")].Country)
print(energy[energy.Country.str.contains("Bolivia")].Country)
print(energy[energy.Country.str.contains("Switzerland")].Country)
print(energy[energy.Country.str.contains("[0..9]")].Country)

'''for word in energy[energy.Country.str.contains("Korea")].Country.str.split():
    print(word)    
for word in energy[energy.Country.str.contains("Hong")].Country.str.split():
    print(word)    
for word in energy[energy.Country.str.contains("States")].Country.str.split():
    print(word)
for word in energy[energy.Country.str.contains("Bolivia")].Country.str.split():
    print(word)
    print(energy[energy.Country.str.contains("Bolivia")].Country)
for word in energy[energy.Country.str.contains("Switzerland")].Country.str.split():
    print(word)
    '''

['United', 'Kingdom', 'of', 'Great', 'Britain', 'and', 'Northern', 'Ireland19']
213    United Kingdom of Great Britain and Northern I...
Name: Country, dtype: object
55     Democratic People's Republic of Korea
163                        Republic of Korea
Name: Country, dtype: object
42    China, Hong Kong Special Administrative Region3
Name: Country, dtype: object
215      United States of America20
216    United States Virgin Islands
Name: Country, dtype: object
23    Bolivia (Plurinational State of)
Name: Country, dtype: object
196    Switzerland17
Name: Country, dtype: object
102                                               Italy9
104                                              Japan10
213    United Kingdom of Great Britain and Northern I...
215                           United States of America20
Name: Country, dtype: object

'for word in energy[energy.Country.str.contains("Korea")].Country.str.split():\n    print(word)    \nfor word in energy[energy.Country.str.contains("Hong")].Country.str.split():\n    print(word)    \nfor word in energy[energy.Country.str.contains("States")].Country.str.split():\n    print(word)\nfor word in energy[energy.Country.str.contains("Bolivia")].Country.str.split():\n    print(word)\n    print(energy[energy.Country.str.contains("Bolivia")].Country)\nfor word in energy[energy.Country.str.contains("Switzerland")].Country.str.split():\n    print(word)\n    '

In [65]:
# use a dictionary to replace all occurence of the keys, with the corresponding dict values
countries = {"Republic of Korea": "South Korea",
"Italy9": "Italy",
"Japan10": "Japan",
"United States of America20": "United States",
"United Kingdom of Great Britain and Northern Ireland19": "United Kingdom",
"China, Hong Kong Special Administrative Region3": "Hong Kong",
"China2":"China",             
"Bolivia (Plurinational State of)": "Bolivia",
"Switzerland17": "Switzerland"}
countries

{'Bolivia (Plurinational State of)': 'Bolivia',
 'China, Hong Kong Special Administrative Region3': 'Hong Kong',
 'China2': 'China',
 'Italy9': 'Italy',
 'Japan10': 'Japan',
 'Republic of Korea': 'South Korea',
 'Switzerland17': 'Switzerland',
 'United Kingdom of Great Britain and Northern Ireland19': 'United Kingdom',
 'United States of America20': 'United States'}

In [67]:
# rename the Country columns using the dict
energy.replace({"Country":countries},inplace = True)
energy[energy["Country"]=="United Kingdom"]

            Country  Energy Supply  Energy Supply per Capita  % Renewable
213  United Kingdom   7.920000e+09                     124.0     10.60047

In [50]:
# we do the same with another file and create another gdp DataFrame
gdp = pd.read_csv(r'C:\Users\charb\Downloads\API_NY.gdp.MKTP.CD_DS2_en_csv_v2.csv',skiprows=4)

countries={"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"}

gdp.replace({"Country Name":countries},inplace=True)

gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 61
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.791961e+09,2.498933e+09,2.467704e+09,2.584464e+09,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.019053e+10,1.248694e+10,1.593680e+10,1.793024e+10,2.053654e+10,2.004633e+10,2.005019e+10,1.970299e+10,1.946902e+10,NaN
2,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,8.417803e+10,7.549238e+10,8.247091e+10,1.041159e+11,1.153984e+11,1.249121e+11,1.267769e+11,1.029622e+11,8.963316e+10,NaN
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.288135e+10,1.204421e+10,1.192695e+10,1.289087e+10,1.231978e+10,1.278103e+10,1.321986e+10,1.139037e+10,1.192689e+10,NaN
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.001201e+09,3.650083e+09,3.346517e+09,3.427023e+09,3.146152e+09,3.248925e+09,NaN,NaN,NaN,NaN

In [51]:
# countries mentions in scientific papers 
scientific_mentions = pd.read_excel(r'C:\Users\charb\Downloads\scimagojr.xlsx')

print(energy[energy.Country.str.contains("[0..9]")].Country)


scientific_mentions.head()

Series([], Name: Country, dtype: object)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,147887,147512,856806,583858,5.79,162
1,2,United States,113579,111426,1085684,370574,9.56,259
2,3,Japan,34294,34054,275980,73491,8.05,145
3,4,United Kingdom,24328,23671,278694,52119,11.46,159
4,5,India,21450,21183,179494,54929,8.37,132

In [52]:
# Three way step merging, and then select the top 15 highest by Rank column
gdp = gdp[['Country Name', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']].set_index('Country Name')
nrg = energy[['Country','Energy Supply', 'Energy Supply per Capita', '% Renewable']].set_index('Country')
sci = scientific_mentions[['Rank','Country', 'Documents', 'Citable documents', 'Citations', 
              'Self-citations', 'Citations per document', 'H index']].set_index('Country')
scinrg=pd.merge(sci,nrg,how='inner', left_index = True, right_index = True)
merged = pd.merge(scinrg,gdp, how='inner', left_index = True, right_index = True)
res = merged.sort_values('Rank',ascending=True).head(15)

res

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
China,1,147887,147512,856806,583858,5.79,162,1.271910e+11,93.0,19.754910,2.752132e+12,3.552183e+12,4.598205e+12,5.109954e+12,6.100620e+12,7.572554e+12,8.560547e+12,9.607224e+12,1.048237e+13,1.106466e+13
United States,2,113579,111426,1085684,370574,9.56,259,9.083800e+10,286.0,11.570980,1.385589e+13,1.447764e+13,1.471858e+13,1.441874e+13,1.496437e+13,1.551793e+13,1.615526e+13,1.669152e+13,1.739310e+13,1.803665e+13
Japan,3,34294,34054,275980,73491,8.05,145,1.898400e+10,149.0,10.232820,4.530377e+12,4.515265e+12,5.037908e+12,5.231383e+12,5.700098e+12,6.157460e+12,6.203213e+12,5.155717e+12,4.848733e+12,4.383076e+12
United Kingdom,4,24328,23671,278694,52119,11.46,159,7.920000e+09,124.0,10.600470,2.678278e+12,3.063005e+12,2.875463e+12,2.367127e+12,2.429680e+12,2.608825e+12,2.646003e+12,2.719509e+12,2.998834e+12,2.861091e+12
India,5,21450,21183,179494,54929,8.37,132,3.319500e+10,26.0,14.969080,9.203165e+11,1.201112e+12,1.186953e+12,1.323940e+12,1.656617e+12,1.823050e+12,1.827638e+12,1.856722e+12,2.035393e+12,2.111751e+12
Russian Federation,6,21259,20915,45629,17368,2.15,65,3.070900e+10,214.0,17.288680,9.899305e+11,1.299705e+12,1.660844e+12,1.222644e+12,1.524916e+12,2.031769e+12,2.170144e+12,2.230625e+12,2.063662e+12,1.365865e+12
Germany,7,20898,20640,193676,39615,9.27,140,1.326100e+10,165.0,17.901530,3.002446e+12,3.439953e+12,3.752366e+12,3.418005e+12,3.417095e+12,3.757698e+12,3.543984e+12,3.752514e+12,3.879277e+12,3.363600e+12
Canada,8,20689,20353,285554,53955,13.80,165,1.043100e+10,296.0,61.945430,1.315415e+12,1.464977e+12,1.549131e+12,1.371153e+12,1.613464e+12,1.788648e+12,1.824289e+12,1.842628e+12,1.792883e+12,1.552808e+12
South Korea,10,14037,13952,151281,29670,10.78,116,1.100700e+10,221.0,2.279353,1.011797e+12,1.122679e+12,1.002219e+12,9.019350e+11,1.094499e+12,1.202464e+12,1.222807e+12,1.305605e+12,1.411334e+12,1.382764e+12
Italy,11,13662,13457,154242,37030,11.29,121,6.530000e+09,109.0,33.667230,1.942634e+12,2.203053e+12,2.390729e+12,2.185160e+12,2.125058e+12,2.276292e+12,2.072823e+12,2.130491e+12,2.151733e+12,1.824902e+12
Brazil,15,10599,10521,84010,20271,7.93,97,1.214900e+10,59.0,69.648030,1.107640e+12,1.397084e+12,1.695825e+12,1.667020e+12,2.208872e+12,2.616202e+12,2.465189e+12,2.472807e+12,2.455993e+12,1.803653e+12
Turkey,17,6801,6730,117612,27363,17.29,118,4.897000e+09,64.0,28.536690,5.525050e+11,6.757541e+11,7.643229e+11,6.446565e+11,7.718769e+11,8.325465e+11,8.739818e+11,9.505956e+11,9.341678e+11,8.593836e+11
Norway,18,6704,6656,50269,10582,7.50,83,1.388000e+09,273.0,97.635580,3.454247e+11,4.008839e+11,4.619468e+11,3.863839e+11,4.285271e+11,4.981568e+11,5.097049e+11,5.227462e+11,4.983398e+11,3.865784e+11
Sweden,20,5383,5292,78925,12866,14.66,108,2.044000e+09,212.0,46.598460,4.200321e+11,4.878163e+11,5.139657e+11,4.296570e+11,4.883777e+11,5.631097e+11,5.438806e+11,5.787420e+11,5.738177e+11,4.956944e+11
Malaysia,21,4852,4814,41316,10511,8.52,79,3.417000e+09,116.0,7.754589,1.626910e+11,1.935478e+11,2.308136e+11,2.022576e+11,2.550166e+11,2.979520e+11,3.144428e+11,3.232768e+11,3.380690e+11,2.962832e+11

In [53]:
scinrgo=pd.merge(sci,nrg,how='outer', left_index = True, right_index = True)
mergedo = pd.merge(scinrgo,gdp, how='outer', left_index = True, right_index = True)

mergedo.shape[0] - merged.shape[0]

183

In [58]:
df=res
countries = df.T.drop(['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable'])
q3=countries.mean().sort_values(ascending=False)
q3
#countries

United States         1.562297e+13
China                 6.940046e+12
Japan                 5.176323e+12
Germany               3.532694e+12
United Kingdom        2.724782e+12
Italy                 2.130288e+12
Brazil                1.989028e+12
Russian Federation    1.656010e+12
Canada                1.611540e+12
India                 1.594349e+12
South Korea           1.165810e+12
Turkey                7.859791e+11
Sweden                5.095093e+11
Norway                4.438692e+11
Malaysia              2.614350e+11
dtype: float64